* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: rgb(238,174,202);
background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
  color: #F05555;
}

h1, h2 {
  margin: 0;
  text-align: center;
}

h2 {
  font-size: 1.2rem;
}

.session-settings {
  display: flex;
  gap: 5em;
  margin: 2.3rem 0 1rem;
}

.session-btns {
  text-align: center;
  margin-top: 10px;
}

.session-btns button, .session-cntrl button {
  background-color: transparent;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  padding: 0.2em;
  color: #F05555;
}

.session-btns span {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0 7px;
}

.session-display-cntrl {
  text-align: center;
}

.session-display {
  border: 5px solid rgba(0, 0, 0, 0.5);
  border-radius: 30px;
  width: fit-content;
  margin: 0 auto 0.6rem;
  padding: 0.8rem 1.5rem;
}

.session-display h1 {
  font-size: 3rem; 
}

.session-cntrl button:nth-of-type(2) {
  margin: 0 0.5rem;
}
